<div class="container m-5">
    <div class="m-5 text-white">

        <div class="d-grid text-white ml-5">Questions? Call 000-800-919-1694</div>
        <div class=" ml-5 row">
            <span class="col-4">Faq</span>
            <span class="col-4">Help Centre</span>
            <span class="col-4">Account</span>
        </div>
  
        <div class=" ml-5 row">
            <span class="col-4">Media Centre</span>
            <span class="col-4">Investor Relations</span>
            <span class="col-4">Jobs</span>
        </div>

        <div class=" ml-5 row">
            <span class="col-4"> Ways to Watch</span>
            <span class="col-4">Terms of Use</span>
            <span class="col-4">Privacy</span>
        </div>
        <div class=" ml-5 row">
            <span class="col-4">Cookie Preferences</span>
            <span class="col-4">Corporate Information</span>
            <span class="col-4">Contact Us</span>
        </div>
        <div class=" ml-5 row">
            <span class="col-4">Speed Test</span>
            <span class="col-4">Legal Notices</span>
            <span class="col-4">Only on Netflix</span>
        </div>

        
    </div>
    <div class=" ml-5 text-white">
        &copy; &nbsp;<span class="col-4 mt-xxl-5">Netflix India</span>
        
    </div>

</div>

        
     