<body>
    <div class="conatiner">
        <app-header></app-header>
        <div>
            <div class="container   signincomp">
                <div class="row ">
                    <div class="col-lg-5 offset-lg-4">
                        <form class="form-horizontal" [formGroup]="regForm" (submit)="SignUp()">
                            <fieldset class="form-group bodyc  p-3">
                                <div class="small"> Step 1 of 3</div>
                                <div class="large fw-bold">Create a Password to Start Your Membership</div><br>
                                <div class="medium--dark mb-5">Just a few more steps and you're done!
                                    We hate paperwork, too.</div>


                                <div class="form-group mb-4">

                                    <input type="text" class="form-control tagheight inputmargin"
                                        placeholder="Email or Phone Number" formControlName="email" id="Email"
                                        [ngClass]="{ 'is-invalid': f['email'].touched && f['email'].invalid }">
                                    <div *ngIf="f['email'].touched && f['email'].invalid" class="invalid-feedback">
                                        <div *ngIf="f['email'].errors!['required']">Email is required</div>
                                        <div *ngIf="f['email'].errors!['email']">Please provide email in valid format
                                        </div>
                                        <div *ngIf="f['email'].errors!['maxlength']">Email should not exceed {{
                                            f['email'].errors!['maxlength'].requiredLength }} characters</div>
                                    </div>

                                    
                                </div>
                                <div class="form-group mb-4">
                                    <input class="form-control tagheight inputmargin" placeholder="Password"
                                        formControlName="password" id="Password"
                                        type="{{ showPassword ? 'text' : 'password' }}"
                                        [ngClass]="{ 'is-invalid': f['password'].touched && f['password'].invalid }">
                                    <!-- <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"
                                            (click)="showPassword = !showPassword">
                                            <i class="{{ showPassword ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
                                        </button>
                                    </div> -->
                                    <div *ngIf="f['password'].touched && f['password'].invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="f['password'].errors!['required']">Password is required</div>
                                        <div *ngIf="f['password'].errors!['minlength']">Password should be more than {{
                                                    f['password'].errors!['minlength'].requiredLength }} characters</div>
                                        <div *ngIf="f['password'].errors!['maxlength']">Password should not exceed {{
                                                    f['password'].errors!['maxlength'].requiredLength }} characters</div>
                                        <div *ngIf="f['password'].errors!['pattern']">At least 1 uppercase,1 lowercase,1
                                                        digit,1 alphanumeric is required</div>
                                    </div>
                                    
                                    
                                </div>

                                <div class="row">
                                    <div class="col mb-4">
                                        <div class="d-grid gap-2 mx-auto ml-3 buttoncolor">
                                            <button type="submit"
                                                class="btn tagheight text-white buttoncolor">Next</button>
                                        </div>
                                    </div>

                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <app-frontfooter></app-frontfooter>
</body>