<div class=" container-fluid" style="height:100vh;">
    <div class="row">
        <div class="col-lg-6 col-xl-6 col-md-3 col-sm-3">
            <div class=" text-center">
                <img style="margin-top: 30%; height: 100%; width: 100%;" src="../../../../assets/Images/Kids.png" >
\
            </div>
        </div>

        <div class="col-lg-6 col-xl-6 col-md-4 col-sm-3">
            <div class="text-white text-center">
                <h1 class="textproph1" style="margin-top: 50%;">Create profiles for kids</h1>
                <h4 class="textproph4">Send children on adventures with their favourite characters in a space made just for them—free with your membership.</h4>
            </div>
        </div>
        
        
    </div>
</div>





