.bodyc{
    background-color: rgba(0,0,0,.75);
    

}

.buttoncolor{
    margin-top: 5%;
 
    background-color: rgb(229, 9, 20);
}
.inputmargin{
    margin-bottom: 0%;
    background-color: #333;
   
}
.classmargin{
    margin-bottom: 10%;
}
.check{
    background-color: #333; 
}
.signincomp{
    position: absolute;
    top: 20%;
    bottom: 10%;
}
