<div class=" footerback ">
    <div class="m-5 ">

        <div class="d-grid  ml-5">Questions? Call 000-800-919-1694</div>
        <div class=" ml-5 row">
            <span class="col-3">Faq</span>
            <span class="col-3">Help Centre</span>
            <span class="col-3">Netflix Shop</span>
            <span class="col-3">Terms of Use</span>
        </div>
  
        <div class=" ml-5 row">
            
            <span class="col-4"></span>
            <span class="col-4"></span>
        </div>

        <div class=" ml-5 row">
            <span class="col-3"> Privacy</span>
            <span class="col-3">Cookie Preferences</span>
            <span class="col-3">Corporate Information</span>
        </div>
       

        
    </div>
    <div class=" ml-5 ">
        &copy; &nbsp;<span class="col-4 mt-xxl-5 ">Netflix India</span>
        
    </div>

</div>

        
     