.divfont {
    color: #333;
    background-color: rgb(43, 41, 41);
    font-size: 120%;
    color:aliceblue ;
  }
  .textproph4 {
    color:aliceblue ;
     font-size: 120%;
   }
  .bodyc{
    background-color: rgb(43, 41, 41); 
  }

  .faq{
    font-size: 3rem;
    color: white;
  }
  
  