<div class="bodyc container-fluid" style="height:90vh;">
    <div class="row">
        <div class="col-6">
            <div class="text-white text-center">
                <h1 class="textproph1" style="margin-top: 30%;">Enjoy on your Tv</h1>
                <h4 class="textproph4">Watch on smart TVs, PlayStation, Xbox, Chromecast,
                    Apple TV, Blu-ray players and more.</h4>
            </div>
        </div>
        <div class="col-6">
            <div class=" text-center">
                <img style="margin-top: 25%; width: 70%;" src="../../../../assets/Images/EnjoyTv.png" >
\
            </div>
        </div>
    </div>
</div>





