<div class=" container-fluid" style="height:90vh;">
    <div class="row">
        
        <div class="col-lg-6 col-xl-6 col-md-3 col-sm-3">
            <div class=" text-center">
                <img style="margin-top: 30%; height: 80%;width: 90%;" src="../../../../assets/Images/DownloadShow.jpg" >

            </div>
        </div>
        <div class="col-lg-6 col-xl-6 col-md-4 col-sm-3">
            <div class="text-white text-center">
                <h1 class="textproph1" style="margin-top: 50%;">Download your shows to watch offline</h1>
                <h4 class="textproph4">Save your favourites easily and always have something to watch.</h4>
            </div>
        </div>
    </div>
</div>





